/* Additional styles specific to the Add Team view */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.sidebar {
    background-color: #f4f4f4;
    float: left;
    padding: 20px;
    width: 200px;
    height: 100vh; /* Full height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow: auto; /* Scrollable Sidebar */
}
.sidebar div {
    display: block;
    margin-bottom: 20px; /* Increased margin between labels */
    text-decoration: none;
    color: #333;
    font-size: 18px; /* Larger text size for labels */
}
.sidebar div:hover {
    background-color: #ddd;
}
.main-content {
    margin-left: 220px;
    padding: 20px;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #005f6b;
}
