body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.sidebar {
    background-color: #f4f4f4;
    float: left;
    padding: 20px;
    width: 200px;
    height: 100vh; /* Full height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow: auto; /* Scrollable Sidebar */
}
.main-content {
    margin-left: 220px;
    padding: 20px;
}
.sidebar div {
    display: block;
    margin-bottom: 20px; /* Increased margin between labels */
    text-decoration: none;
    color: #333;
    font-size: 18px; /* Larger text size for labels */
}
.sidebar div:hover {
    background-color: #ddd;
}
